body {
  margin: 0;
  padding: 0;
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: ease-in;
  background: #f6f7f8;
  background: linear-gradient(to right, #F0F4F8 8%, #dae3ed 18%, #F0F4F8 33%);
  background-size: 800px 104px;
  position: relative;
}
